div
    v-form(v-model="valid",ref="form",lazy-validation)
        v-card(flat)
            v-layout(row,wrap)
                v-flex(xs12 sm10)
                    v-card(flat)
                        v-card-text
                            v-text-field(v-model="article.title.value",:rules="article.title.rule",label="标题",type="text")
                            v-text-field(v-model="article.slug.value",:rules="article.slug.rule",label="别名",type="text")
                            div.markdown
                                div.toolbars
                                    div.left
                                        span.iconfont.icon-701bianjiqi_chexiao
                                        span.iconfont.icon-702bianjiqi_zhongzuo
                                        span.iconfont.icon-bold1
                                        span.iconfont.icon-strikethrough
                                        span.iconfont.icon-italic1
                                        span.iconfont.icon-quotation_marks
                                        span.iconfont.icon-char
                                        span.iconfont.icon-736bianjiqi_daxie
                                        span.iconfont.icon-737bianjiqi_xiaoxie
                                        span.iconfont.icon-tirbe_icon_h
                                        span.iconfont.icon-tirbe_icon_h1
                                        span.iconfont.icon-tirbe_icon_h2
                                        span.iconfont.icon-richtextbulletedlist
                                        span.iconfont.icon-richtextnumberedlist
                                    div.right
                                        span.iconfont.icon-hr
                                        span.iconfont.icon-link1
                                        span.iconfont.icon-image1
                                        span.iconfont.icon-code
                                        span.iconfont.icon-insert_tag_field
                                        span.iconfont.icon-table
                                        span.iconfont.icon-760bianjiqi_shijian
                                        span.iconfont.icon-755bianjiqi_fenye
                                        span.iconfont.icon-save
                                        span.iconfont.icon-774bianjiqi_yulan
                                        span.iconfont.icon-expand
                                v-layout(wrap)
                                    v-flex(d-flex xs12 sm6 :class="{ ['pl-3']: this.$vuetify.breakpoint.smAndUp }")
                                        v-textarea(@input="init",@focus="textarealoading=true",@blur="textarealoading=false",:loading="textarealoading",:single-line="true",v-model="article.text.value",:flat="true",:rows="20",label="输入内容",:clearable="false")
                                    v-flex(d-flex xs12 sm6 :class="{ ['pl-3']: this.$vuetify.breakpoint.smAndUp }")
                                        //- v-select(attach label="预览" :items="preview",v-model="type")
                                        div(v-if="type === 'preview'" v-html="article.html.value")
                                        v-textarea(v-else :value="article.html.value",auto-grow box readonly)
                                //- div.content(:class="{ ['pl-3']: this.$vuetify.breakpoint.smAndUp }")
                                //-   div.editor
                                //-     v-textarea(@input="init",@focus="textarealoading=true",@blur="textarealoading=false",:loading="textarealoading",:single-line="true",v-model="article.text.value",:flat="true",:rows="20",label="输入内容",:clearable="false")
                                //-   div.preview
                                //-     v-select(attach label="预览" :items="preview",v-model="type")
                                //-     div(v-if="type === 'preview'" v-html="article.html.value")
                                //-     v-textarea(v-else :value="article.html.value",auto-grow box readonly)
                            span 共计:
                            v-chip(small,color="primary",text-color="white") 字数 {{wordcount}}
                            span 其中包含:
                            v-chip(small,color="red",text-color="white") {{character}} 个文字
                            v-chip(small,color="green",text-color="white") {{symbol}} 个符号
                            v-chip(small,color="pink",text-color="white") {{letter}} 个字母
                            v-chip(small,color="teal",text-color="white") {{digital}} 个数字
                            v-chip(small,color="orange",text-color="white") {{emoji}} 个emoji
                        v-card-actions
                            v-spacer
                            v-btn(flat,@click="submit",:loading="loading",:disabled="!valid") 发布
                            v-btn(flat) 草稿
                v-flex(xs12 sm2)
                    v-card(flat)
                        v-tabs
                            v-tab(:key=1) 选项
                            v-tab(:key=2) 附件
                            v-tab-item(key=1)
                                v-card-text
                                    div(class="grey--text subheading") 定时发表
                                        v-switch(label="启用定时发表",color="red",v-model="timing")
                                        div(v-if="timing")
                                            v-menu(ref="datamenu" :close-on-content-click="false" v-model="datamenu",:nudge-right="40" :return-value.sync="date" lazy transition="scale-transition",offset-y full-width)
                                                v-text-field(slot="activator" v-model="date" label="请选择日期",prepend-icon="event" readonly)
                                                v-date-picker(full-width,v-model="date" @input="$refs.datamenu.save(date)")
                                            v-menu(ref="timemenu" :close-on-content-click="false" v-model="timemenu",:nudge-right="40" :return-value.sync="time" lazy transition="scale-transition",offset-y full-width)
                                                v-text-field(prepend-icon="timer" slot="activator" v-model="time",label="请选择时间" readonly)
                                                v-time-picker(v-if="timemenu" v-model="time" @change="$refs.timemenu.save(time)")
                                    div(class="grey--text subheading") 标签
                                        v-combobox(item-text="label",item-value="id",clearable,:search-input.sync="search",hide-selected,multiple,small-chips,v-model="article.tags.value",:items="allTags",:rules="article.tags.rule",label="Tags")
                                    div(class="grey--text subheading") 分类
                                        v-tabs
                                            v-tab(:key=3) 分类
                                            v-tab(:key=4) 目录树
                                            v-tab-item(key=3)
                                                v-select(clearable,:rules="article.category.rule",v-model="article.category.value",:items="allCategory",item-text="label",item-value="id")
                                            v-tab-item(key=4)
                                                v-treeview(:active.sync="leetree",class="title",:items="allCategoryByTree",activatable,item-text="label",item-value="id")
                                                //- span {{selected}}
                                    div(class="grey--text subheading") 状态
                                        v-radio-group(row,v-model="article.status.value")
                                            v-radio(label="发布文章",:value="1")
                                            v-radio(label="保存草稿",:value="0")
                                    div(class="grey--text subheading") 公开度
                                        v-select(label="公开度",@change="select",v-model="article.publish.value",:items="publicstate",item-text="v",item-value="k")
                                        v-text-field(v-if="password",label="密码",v-model="article.password.value",:rules="article.password.rule")
                                    div(class="grey--text subheading") 权限控制
                                        v-switch(v-model="article.allowComment.value",label="允许评论",color="red")
                                        v-switch(v-model="article.isTop.value",v-if="istop",label="是否置顶",color="red")
                            v-tab-item(key=2)
                                v-text-field(label="Select Image" type="file" prepend-icon='attach_file')