#login 
	height 50%
	width 100%
	position absolute
	top 0
	left 0
	content ""
	z-index 0
.v-snack__wrapper
	height 45px
	box-shadow 0px 3px 18px 0px #4558A3B3, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A
	border-radius 45px